.nav-menu {
  width: 100%; /* Celom širinom ekrana */
  background-color: #FDF6FA; /* Svetloroze boja */
  padding: 10px 0; /* Razmak iznad i ispod menija */
  border-top: 2px solid #ccc; /* Gornja horizontalna linija */
  border-bottom: 2px solid #ccc; /* Donja horizontalna linija */
  text-align: center; /* Centrirajte sadržaj */
}
  .nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-menu > ul > li {
    display: inline-block;
    position: relative;
    text-decoration: none;
  }
  
  
  .menu-item,
  .dropdown-item {
    font-size: 16px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .dropdown-item {
    display: block;
    padding: 8px 15px;
    
  }
  
/* Stil za linkove unutar dropdown lista */
.dropdown-item a {
  color: #2a2b2c; /* Postavi boju linka na plavu */
  text-decoration: none; /* Ukloni podvlačenje */
}

.dropdown-item a:hover {
  color: #000000; /* Postavi tamniju plavu boju prilikom hovera */
  text-decoration: none; /* Ukloni podvlačenje prilikom hovera */
}

  
  .menu-item:hover,
  .dropdown-item:hover {
    color: #e737ad;
    background-color: #e64cab0a; /* Suptilna pozadina pri hoveru */
  }
  
  .dropdown {
    position: absolute; /* Osigurava da je dropdown pozicioniran relativno na roditeljski element */
    left: 0; /* Poravnava uz levu ivicu roditelja */
    background-color: #FDF6FA; /* Svetloroze pozadina */
    padding: 10px;
    border: 1px solid #ccc; /* Dodaje okvir */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Blaga senka za vizuelno poboljšanje */
    z-index: 1000; /* Osigurava da dropdown bude iznad ostalih elemenata */
  }
  
  .dropdown-item {
    text-align: left; /* Poravnanje teksta uz levu ivicu */
    padding: 8px 15px; /* Razmak unutar stavki */
    font-size: 15px; /* Veličina fonta */
    color: #333; /* Neutralna boja teksta */
    text-decoration: none; /* Uklanja podvlačenje */
    display: block; /* Svaka stavka zauzima ceo red */
    width: 180px; /* Širina stavke */
    white-space: nowrap; /* Sprečava prelamanje teksta na sledeći red */
    overflow: hidden; /* Sakriva sav tekst koji prelazi širinu */
    text-overflow: ellipsis; /* Dodaje "..." ako tekst prelazi širinu */
  }
  
  .dropdown-item:hover {
    background-color: rgba(243, 97, 175, 0.2); /* Svetloroze nijansa na hover */
    color: #221202d1; /* Boja teksta na hover */
  }
  
  
  .sub-dropdown {
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  