.container {
    display: flex;
    flex-direction: column; /* Postavlja elemente jedan ispod drugog */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #fdf6fa;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .sign-in-form {
    width: 80%; /* Koristi celu širinu roditeljskog kontejnera */
    max-width: 400px; /* Maksimalna širina forme */
    margin: 0 auto; /* Centriranje unutar roditelja */
  }
  
  .sign-in-form {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Razmak između polja u formi */
  }
  
  .sign-in-form TextField {
    width: 100%; /* Polja zauzimaju celu širinu forme */
  }
  
  .sign-in-form a {
    display: block;
    margin-top: 1rem;
    color: #1e1d1d;
  }
  